.atg{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  text-align: center;
  position: relative;  
  
  @media (max-width: 620px) {
    width: 100%;
  }
}

.atg span{
  display: inline-block;
}
  
.text1{
  font-size: 3vh;
  margin-bottom: 7vh;
  text-align: center;
  font-family: 'Sys', Fallback, sans-serif;
  
}
.text2{
  text-align: left;
  font-size: 2.5vh;
  margin-left: 30vh;
  margin-right: 15vh;
  
}  

footer{
  background: rgb(0, 0, 0);
  padding:2em 0;
  margin-top:8em;
  bottom:0;
  width: 100%;
  border-top: 10px solid #2a105a;

}

.footer-container{
  width: 100%;
  display:block;
  color:rgb(255, 255, 255);
  line-height: 40%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-around;
}

footer img{
  width: 10%; 
  height: 10%; 
  border-radius:1em;	

}

#session {
  top:0;
  padding-top:0;
  position:relative;
  margin:0;
  margin-left: 100px;
}

.juego{
  font-size: 18px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
  overflow: hidden;
  margin:auto;
  width:100%;
  
  height:60px; 

  position:fixed; 
  z-index:101; 
  background: #000000;  
  border-bottom: 10px solid #32185c; 
  
}
  
body{
  margin: 0px;
  background-color: rgb(0, 0, 0);
  font-weight: 500;
}

nav > li{
  float: left;
}

nav  li:hover{
  transform: scale(1.05);
}

nav{
  margin:0 auto;
  width:1000px; /*Ancho del menú dentro de la barra, variaremos este valor hasta conseguir el que buscamos*/
}

nav ul{
  margin:0;
  padding: 0;
  list-style: none ;
}

nav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 20px;
  position: relative;
}

nav a{
  color:#000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 125%;                              
}

nav a:hover{  
  color:#020000;
}

nav li::before{
  content:'';
  display: block;
  height: 150%;
  width: 0%;
  background: linear-gradient(180deg, #211a3a  , #422553,  #1c0b25);
  position: absolute;
  top:90%;  
  transition: all ease-in-out 150ms;
}

nav li:hover::before{
  width: 100%;
} 

.container{
  width: 80%;
  margin: 0 auto;
  
}

canvas{   
  margin-top: 5vh;
  display: block;
  position: relative;
  border-color:rgb(17, 7, 48);
  border-width:2vh;
  border-style: solid;
  border-radius: 0px;
}