
@font-face 
{
  font-family: 'RetroFont'; /*a name to be used later*/
  src: url(../assets/fonts/retroFont.ttf);
}

.baseHTML
{
  margin-top: 100px;
  cursor: url("../images/pixelCursor.png"), auto;
}
body {background-color: coral;}
